// Theme colors
$primary: #008686;
$secondary: #9697a7;

// scss-docs-start theme-colors-map
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
);

$custom-colors: (
	"secondary-bright": #4a4e75,
	"secondary-brighter": #6f718a,
	"glass": hsla(0, 0%, 100%, 0.15),
);
// scss-docs-end theme-colors-map
$theme-colors: map-merge($theme-colors, $custom-colors);

// Body
//
// Settings for the `<body>` element.
$body-color: #ffffff;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-raleway: "Raleway", sans-serif;
$font-family-base: var(--mdb-font-raleway);
